.container {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.lista__pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
}

@media (max-width: 1080px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lista__pokemons {
        justify-content: space-between;
    }
}

@media (max-width: 768px) {

    .lista__pokemons {
        justify-content: center;
    }
}