.about__main {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__main__content__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    
}

.about__main__content__paragraph {
    margin: 14px;
    display: flex;
    text-align: justify;
    width: 687px;
    height: 176px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
