.blog__main {
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blog__main__title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 5px;
}

.blog__main__section{
    margin: 45px 200px;
    display: flex;
    align-items: flex-start;
    width: 1084px;
    height: 252px;
}

.blog__main__division {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.blog__main__division__title {
    font-weight: 700;
    font-size: 32px;
}

.blog__main__division__paragraph {
    margin-top: 23px;
    line-height: 22px;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;    
}
