.contact__header__menu__button {
    background: #7ED321;
    border-radius: 15px;
    color: #1C4701;
    font-weight: 700;
    font-size: 16px;     
    border: None;
    padding: 9px 32px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__title {
    font-weight: 700;
    font-size: 48px;   
}

.main__content {
    display: flex;
    flex-direction: row;
}

.main__form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.main__form__div {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.main__form__label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.main__form__label__text {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-right: 50px;
}

.main__form__input {
    padding: 12px;
    width: 420px;
    border: 1px solid #9f9f9f;
    border-radius: 7px;
    font-weight: 700;
    font-size: 14px;
}

.main__form__input::placeholder {
    font-weight: 700;
    color: #9F9F9F;
    text-align:start;
}

.main__form__textarea {
    padding: 12px;
    width: 418px;
    height: 160px;
    border-radius: 7px;
    border: 1px solid #9f9f9f;
}

.main__form__textarea::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-right: 50px;
    color: #9F9F9F; 
}

.main__form__button {
    margin-top: 20px;
    padding: 10px 45px;
    width: 141px;
    height: 42px;
    background: rgba(126, 211, 33, 0.4);
    border: None;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #1C4701;
}

.main__form__button:hover {
    background-color: #7ED321;
}