.header__menu{
    margin: 27px 15px;
    display: flex;
    justify-content: space-between;
}

.header__menu__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
}

.header__menu__title__love {
    color: #7ED321;
}

.header__menu__links {
    display: flex;
    align-items: center;
}

.header__menu__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin: 17.5px;
}

.header__menu__button {
    border: None;
    background: rgba(126, 211, 33, 0.4);
    border-radius: 15px;
    padding: 9px 32px;
    color: #1C4701;
    font-weight: 700;
    font-size: 16px;
}

.header__menu__button:hover {
    background: #7ED321;
}



