
/*Secão destinada à página Home*/
.home__main {
    margin: 31px 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home__main__content {
    width: 371px;
    height: 351px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 80px;

}

.home__main__content__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    width: 340px;
    height: 234px;
}

.home__main__content__button {
    padding: 13px 55px;
    border: none;
    background: rgba(126, 211, 33, 0.4);
    border-radius: 15px;
    color: #1C4701;
    font-weight: 700;
    font-size: 18px;
}

.home__main__content__button:hover {
    background: #7ED321;
}
