@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #FFFFFF;
}

/* Cabeçalho das páginas */ 
header{
    padding: 27px 15px;
}

.header__menu{
    display: flex;
    justify-content: space-between;
}

.header__menu__title {
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.header__menu__title__link {
    text-decoration: none;
    color:#000000;
}

.header__menu__title__love {
    color: #7ED321;
}

.header__menu__links {
    display: flex;
    gap: 35px;
    font-size: 16px;
    align-items: center;
}

.header__menu__links__link {
    text-decoration: none;
    color:#000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.header__menu__links__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid;
    background: rgba(126, 211, 33, 0.4);
    border-radius: 15px;
    width: 151px;
    height: 40px;
    left: 1274px;
    top: 40px;
    cursor: pointer;
    color: #1C4701;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.header__menu__links__registration {
    text-decoration: none;
}


/*Secão destinada à página Home*/
.home__main {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.home__main__content {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home__main__content__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
}


.home__main__content__registration {
    text-decoration: none;
}


.home__main__content__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid;
    background: #7ED321;
    border-radius: 15px;
    width: 220px;
    height: 51px;
    left: 1274px;
    top: 40px;
    cursor: pointer;
    color: #1C4701;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

/*Seção destinada à pagina quem somos*/
.about__main {
    display: flex;
    justify-content: center;
}

.about__main__content {
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__main__content__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.about__main__content__paragraph {
    padding: 2%;
    display: flex;
    text-align: justify;
    width: 687px;
    height: 176px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/*Seção destinada à pagina blog*/

.blog__main {
    display: flex;
    justify-content: center;
    color:#000000;
}

.blog__main__content {
    padding: 3%;
    display: flex;
    flex-direction: column;
}

.blog__main__content__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;

}

.blog__main__content__title {
    display: flex;
    justify-content: center;
}

.blog__main__content__section{
    padding: 5%;
    display: flex;
    width: 1084px;
    height: 252px;
}

.blog__main__content__section__division {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.blog__main__content__section__division__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.blog__main__content__section__division__paragraph {
    width: 780px;
    height: 185px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;    
}

/*Seção destinada a pagina Contato*/

.contact__header__menu__links__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid;
    background: #7ED321;
    border-radius: 15px;
    width: 151px;
    height: 40px;
    left: 1274px;
    top: 40px;
    cursor: pointer;
    color: #1C4701;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;    
}

.contact__main {
    display: flex;
    flex-direction: column;
}

.contact__main__title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;   
}

.contact__main__content {
    display: flex;
    flex-direction: row;
}

.contact__main__content__form {
    padding: 4%

}

.contact__main__content__form__div {
    padding: 0% 0% 5% 0%;
    display: flex;
    align-items: flex-start;
    justify-content: end;
}

.contact__main__content__form__div__label {
    margin: 0% 5% 0% 0%;
    display: flex;
    width: 124px;
    height: 50px;
    font-size: 18px;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    color:#000000;
    text-align: center;
    justify-content: center;
}

.contact__main__content__form__div__input {
    padding: 0% 0% 0% 1%;
    width: 419px;
    height: 43px;
    border: 1px solid #9f9f9f;
    border-radius: 7px;
}

.contact__main__content__form__div__input::placeholder {
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    color: #9F9F9F;
    text-align:start;
}

.contact__main__content__form__div__textarea {
    padding: 1% 0% 0% 1%;
    width: 418px;
    height: 160px;
    border-radius: 7px;
    border: 1px solid #9f9f9f;
}

.contact__main__content__form__div__textarea::placeholder {
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    color: #9F9F9F;
    text-align:start;    
}

.contact__main__content__form__div__button {
    width: 141px;
    height: 42px;
    background-color: #7ED321;
    border: 1px solid #7ED321;
    border-radius: 10px;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #1C4701;
    cursor: pointer;
}