* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: #BCCDD0;
    display: flex;
    justify-content: center;

}

body{
    margin: 12%;
    width: 50%;
    height: 50%;
    display: flex;  
}