

.card__content {
    background-color: #DFDFD6;
}

.card__text {
    margin: 5%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card__title {
    font-size: 2.25rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

.card__paragraph {
    margin-right: 1rem;
    font-size: 1rem;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.card__bottom {
    display: flex;
    flex-direction: column;
}

.card__compartilhar {
    display: flex;
    justify-content: flex-end;
    
}

.menu {
    display: none;  
    margin-right: 5%;  
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #696F5A;
    width: 230px;
    height: 44px;
    border-radius: 15px;
}

.compartilhar__text {
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    color: #DFDFD6;
}

.compartilhar__button {
    background-color: #696F5A;

}

footer {
    margin: 5%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.card__perfil {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.card__information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
}

.card__perfil__nome {
    font-size: 1.5rem;
}

.card__perfil__data {
    font-size: 1rem;
}

.card__button {
    background-color: #DFDFD6;
}

/*Telefones*/
@media (max-width: 767px) {
    .card {
        margin: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }
    
    .card__image {
        max-width: 100%;
        width: 350px;
        height: 202px;
        object-fit: cover;
        border-radius: 30px 30px 0 0;
    }

    .card__content {
        max-width: 100%;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0 0 30px 30px;
    }

    .menu {
        height: 34px;
    }
}

/*Notebooks/computadores*/
@media (min-width: 768px) {

    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        display: flex;
        flex-direction: row;
        width: auto;
        height: 492px;
        max-width: 875px;
    }

    .card__content{
        width: auto;
        height: 100%;
        border-radius: 0 30px 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

 }
